.privacysetting_container {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .privacysetting_checkbox1,
  .privacysetting_checkbox2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;

    input {
      width: 10%;
      height: 1.2rem;
      margin-right: -2rem;
      outline: none;
      border: none;
      cursor: pointer;
    }
    p {
      font-size: 1.2rem;
      color: rgb(0, 0, 0);
    }
  }
  .privacysetting_btn {
    width: 91%;
    margin-top: 2rem;

    button {
      width: 15%;
      height: 2.5rem;
      border: none;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.709);
      transition: 0.4s;

      #privacysetting_link {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
        font-weight: 500;
      }
    }
    button:hover {
      background: #39a992;
    }
  }
}
