.uredx_profile_container {
  width: 97%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-top: 1rem;

  .uredx_profile_col1 {
    width: 49%;

    .uredx_profile_row1 {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
      }
      input {
        width: 100%;
        margin-top: 0.4rem;
        height: 2.5rem;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 2px;
        border: 1px solid black;
      }
    }
    .uredx_profile_row2,
    .uredx_profile_row3,
    .uredx_profile_row4,
    .uredx_profile_row5,
    .uredx_profile_row6 {
      margin-top: 1rem;
      @extend .uredx_profile_row1;

      textarea {
        border-radius: 3px;
        margin-top: 0.3rem;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid black;
      }
    }
    .uredx_profile_row5 {
      p {
        font-weight: 500;
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
      }
    }
    .uredx_profile_row6 {
      margin-bottom: 1rem;

      button {
        width: 30%;
        border: none;
        height: 2.5rem;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.722);
        cursor: pointer;
        transition: 0.4s;

        #uredx_profile_link {
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 500;
          color: white;
        }
      }
      button:hover {
        background: #39a992;
      }
    }
  }

  // ............col2 area................

  .uredx_profile_col2 {
    width: 49%;
    // border: 1px solid yellow;

    .uredx_profile_col2_row1 {
      width: 100%;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
      }
      input {
        width: 100%;
        margin-top: 0.4rem;
        height: 2.5rem;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 2px;
        border: 1px solid black;
      }
    }
    .uredx_profile_col2_row2,
    .uredx_profile_col2_row3,
    .uredx_profile_col2_row4,
    .uredx_profile_col2_row5 {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      label {
        font-size: 1.2rem;
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
      }
      .url_input_div {
        width: 100%;
        display: flex;
        // border: 1px solid rgb(247, 11, 11);
        margin-top: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.442);
        border-radius: 2px;

        p {
          width: 50%;
          font-size: 1.1rem;
          font-weight: 500;
          text-align: center;
          padding: 0.5rem;
          background: rgb(211, 209, 209);
          // border-radius: 2px 0px 0px 2px;
        }
        input {
          width: 50%;
          height: 2.5rem;
          outline: none;
          border: none;
          padding: 0.5rem;
          font-size: 1.2rem;
          // border-radius: 0px 2px 2px 0px;
        }
      }
    }
  }
}
