.t_signup_container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(75rem, 1fr));

  .tsignup_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #39a992;

    form {
      width: 70%;
      display: flex;
      background: rgba(0, 0, 0, 0.387);
      height: 38rem;
      border-radius: 10px;
      color: rgb(226, 227, 230);
      margin-top: 2.5rem;
      margin-bottom: 3rem;

      .t_col1 {
        width: 50%;

        img {
          width: 100%;
          height: 38rem;
          border-radius: 10px 0px 0px 10px;
        }
      }
      .t_col2 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h1 {
            text-align: center;
            margin-top: 0.5rem;
            font-size: 2rem;
          }
          .t_email_div {
            width: 100%;
            margin-top: 0rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-top: 0.5rem;

            label {
              font-size: 1.2rem;
              font-weight: 500;
            }
            input {
              width: 100%;
              height: 2.5rem;
              outline: none;
              border-radius: 5px;
              border: none;
              margin-top: 0.5rem;
              padding: 0.5rem;
              color: black;
            }
          }

          .username_div {
            @extend .t_email_div;
          }

          .t_mobile_div {
            @extend .t_email_div;
          }

          .t_password_div {
            @extend .t_email_div;
          }

          #signup {
            width: 50%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
            transition: 0.3s;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.487);

            #signup_btn {
              text-decoration: none;
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
          #signup:hover {
            background: rgba(3, 88, 3, 0.75);

            #signup_btn {
              color: white;
            }
          }

          p {
            margin-top: 0.6rem;
            #signup_login {
              color: blue;
            }
          }
        }
      }
    }
  }
}
