.stdsendmail_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75rem, 1fr));
  place-items: center;

  .mail_div_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #39a992;
    height: 100vh;

    .mail_content {
      margin-top: 5rem;
      margin-bottom: 5rem;
      width: 40%;
      background: rgba(0, 0, 0, 0.426);
      display: flex;
      align-items: center;
      border-radius: 5px;
      flex-direction: column;

      h2 {
        width: 80%;
        margin-top: 2rem;
        color: white;
      }
      p {
        width: 80%;
        margin-top: 1rem;
        color: white;
      }

      //   ........................input area.................................
      .sendmail_div {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1rem;

        label {
          font-size: 1.2rem;
          color: white;
          font-weight: 500;
        }

        .sendmial_input_btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.5rem;

          #sendmail_input {
            width: 80%;
            height: 2.5rem;
            outline: none;
            border: none;
            padding: 0.5rem;
          }
          #sendmail_btn {
            width: 20%;
            height: 2.5rem;
            border: none;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.525);
            font-size: 1.2rem;
            color: white;
            transition: 0.4s;
          }
          #sendmail_btn:hover {
            background: black;
          }
        }
      }

      // ...............................OTP area...........................

      .Otp_div {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
          font-size: 1.1rem;
          width: 100%;
          margin-top: 2rem;
        }
        .input_wrapper {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 1rem;

          .stdOtp_input {
            width: 15%;
            height: 3.2rem;
            border: none;
            outline: none;
            border-radius: 5px;
            text-align: center;
            font-size: 1.5rem;
          }
        }
        button {
          width: 50%;
          height: 2.5rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: 2rem;
          transition: 0.4s;
          margin-bottom: 2.5rem;

          #std_reset_link {
            font-size: 1.1rem;
            font-weight: 500;
            text-decoration: none;
            color: black;
          }
        }
        button:hover {
          background: #39a992;
        }
      }
    }
  }
}
