.addpage_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 191, 191);

  form {
    width: 33%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px;
    background: rgb(255, 255, 255);

    .addpage_course_img {
      //   border: 1px solid rgb(0, 255, 47);
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 0.3rem;

      label {
        font-size: 1.2rem;
        font-family: 500;
      }
      input {
        width: 100%;
        margin-top: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.515);
        border-radius: 5px;
        padding: 0.3rem;
      }
    }

    .addpage_course_title_name,
    .addpage_course_teacher_name,
    .addpage_course_price,
    .addpage_course_level,
    .addpage_course_duration {
      //   border: 1px solid rgb(0, 255, 47);
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 0.3rem;

      label {
        font-size: 1.2rem;
        font-family: 500;
      }
      input {
        outline: none;
        border: 1px solid black;
        margin-top: 0.2rem;
        border-radius: 3px;
        padding: 0.3rem;
      }
    }
    .addpage_btn {
      width: 50%;
      border: none;
      margin-bottom: 1rem;
      margin-top: 1rem;
      height: 2.5rem;
      border-radius: 5px;
      background: rgb(32, 159, 159);
      transition: 0.4s;

      #addpage_btn_link {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
      }
    }
    .addpage_btn:hover {
      background: rgb(7, 242, 238);
    }
  }
}
