.addvideo_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(19, 229, 191) 0%, #1b4a42dc 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .addvideo_wrapper {
    width: 30%;
    background: rgba(0, 0, 0, 0.46);
    height: 20rem;
    margin-top: 5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.553) 0px 7px 29px 0px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      color: white;
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      width: 90%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
      color: white;
      margin-top: 1rem;
    }

    .vimeo_btn {
      width: 80%;
      padding: 0.8rem;
      //   background: rgba(0, 0, 0, 0.626);
      border: none;
      outline: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 2.5rem;
      border-radius: 5px;
      transition: 0.4s;
      box-shadow: rgba(0, 0, 0, 0.806) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.552) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.291) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;

      #vimeo_link {
        color: whitesmoke;
        font-weight: 500;
      }
      img {
        width: 15%;
        border-radius: 50%;
      }
    }

    .vimeo_btn:hover {
      box-shadow: rgba(13, 135, 148, 0.806) 0px -23px 25px 0px inset,
        rgba(67, 153, 163, 0.246) 0px -36px 30px 0px inset,
        rgba(67, 153, 163, 0.1) 0px -79px 40px 0px inset,
        rgba(2, 49, 54, 0.291) 0px 2px 1px, rgba(4, 56, 61, 0.09) 0px 4px 2px,
        rgba(3, 69, 77, 0.09) 0px 8px 4px, rgba(67, 153, 163, 0.09) 0px 16px 8px,
        rgba(67, 153, 163, 0.09) 0px 32px 16px;
    }
  }
}
