.Trecordclass_container {
  width: 100%;
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 0.2rem;

  .Teacher_create_folder {
    width: 24%;
    height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.498);
    padding: 0.5rem;
    border-radius: 3px;
    transition: 0.4s;
    cursor: pointer;

    .Tcourse_img {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .Tcourse_title {
      width: 100%;
      margin-top: 0.5rem;

      h1 {
        color: black;
      }
    }
    .Teacher_name,
    .Tprice,
    .Tcourse_level,
    .Tcourse_duration {
      width: 100%;
      margin-top: 0.1rem;

      p {
        color: rgba(0, 0, 0, 0.594);
      }
    }
  }

  .Teacher_create_folder:hover {
    background: rgb(215, 249, 250);
  }
  .Teacher_create_folder_icon {
    width: 24%;
    height: 20rem;
    border: 1px dotted rgb(102, 0, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;

    #plusIcon {
      font-size: 5rem;
    }
  }
  .Teacher_create_folder_icon:hover {
    background: rgb(215, 249, 250);
  }
}
