.Taccountsecurity_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .T_accountsecurity_row1 {
    width: 96%;
    margin-top: 1.2rem;

    .T_as_label {
      color: rgb(0, 0, 0);
      font-weight: 500;
      font-size: 1.1rem;
    }
    .T_inpt_btn_wrap {
      display: flex;
      margin-top: 0.3rem;
      align-items: center;
      width: 100%;

      .T_as_input {
        width: 40%;
        height: 2.5rem;
        outline: none;
        border: none;
        padding: 0.5rem;
        border: 1px solid black;
      }
      .T_as_btn {
        border: none;
        width: 5%;
        height: 2.5rem;
        background: black;
        cursor: pointer;

        .uil {
          color: white;
          font-size: 1.3rem;
        }
      }
      .T_as_btn:hover {
        background: rgb(94, 85, 85);
      }
    }
  }
  #T_as_save_btn {
    margin-top: 1rem;
    width: 20%;
    height: 2.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.725);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s;
  }
  #T_as_save_btn:hover {
    background: #39a992;
  }
}
