.T_messagesetting_container {
  width: 96%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .T_ms_row {
    width: 57%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .T_ms_checkbox {
      width: 100%;
      display: flex;

      #T_ms_chekbox {
        width: 5%;
        height: 1.3rem;
        border: none;
        cursor: pointer;
      }
      h3 {
        color: rgb(0, 0, 0);
      }
    }
    .T_ms_text {
      margin-top: 0.3rem;
      width: 89%;

      p {
        color: rgb(0, 0, 0);
      }
    }
  }
  .T_ms_btn_div {
    width: 100%;
    margin-top: 2rem;
    // border: 1px solid red;

    #T_ms_btn {
      width: 15%;
      height: 2.5rem;
      border-radius: 2px;
      outline: none;
      border: none;
      background: rgba(0, 0, 0, 0.689);
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.4s;
    }
    #T_ms_btn:hover {
      background: #39a992;
    }
  }
}
