.Instructorterms_container {
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  .terms_wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      font-size: 1.1rem;
      margin-top: 1rem;
      color: rgb(0, 0, 0);
    }
    .Instructorterms_checkbox_div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   border: 1px solid red;
      margin-top: 1rem;

      #Instructorterms_checkbox {
        width: 10%;
        height: 1.5rem;
        // border: 1px solid red;
        border: none;
        outline: none;
        margin-left: -0.8rem;
      }
      p {
        // border: 1px solid red;
        width: 90%;
        margin: 0;
      }
    }
    .Instructorterms_btn_div {
      width: 100%;
      margin-top: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .Instructorterms_btn {
        width: 35%;
        height: 2.5rem;
        border: none;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.754);
        transition: 0.4s;

        #Instructorterms_btn_link {
          text-decoration: none;
          color: white;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }
      .Instructorterms_btn:hover {
        background: #2b7f6e;
      }
    }
  }
}
