.teacher_profile_picture_container {
  width: 97%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .profile_pic_div {
    width: 45%;
    height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.367);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    .profile_pic_avatar {
      font-size: 13rem;
      text-align: center;
    }
    #profile_pic_img {
      object-fit: cover;
      width: 60%;
      border-radius: 50%;
    }
  }
  .profile_pic_input {
    width: 97%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 46%;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 2px;
    }
    input::-webkit-file-upload-button {
      visibility: hidden;
    }
    input::after {
      content: "Upload image";
      display: inline-block;
      padding: 0.5rem;
      background: #39a993;
      outline: none;
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;
      transition: 0.4s;
      margin-left: 7.1rem;
      width: 60%;
    }
    input:hover::after {
      background: #02f9c7;
    }
  }
  .profile_pic_btn_div {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    // border: 1px solid red;

    .profile_pic_btn {
      width: 20%;
      height: 2.5rem;
      border: none;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.659);
      transition: 0.4s;

      #profile_pic_link {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
    .profile_pic_btn:hover {
      background: #2b7f6e;
    }
  }
}
