.teacher_payoutandtax_container {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #3cdbbb;
    width: 97%;
    margin-top: 1rem;
  }

  .teacher_payoutandtax_tiltle_div {
    width: 97%;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .teacher_payoutandtax_title {
      display: flex;
      justify-content: space-between;
      width: 70%;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 0.2rem;

      .payoutAndtax_navlink {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.9);
        text-decoration: none;
      }
    }
  }
}
