.Details_of_teacher_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .details_of_teacher_title {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    h1 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    button {
      border: none;
      outline: none;
      width: 15%;
      padding: 0.5rem;
      border-radius: 3px;
      font-weight: 500;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: red;
      border: 1px solid rgb(215, 212, 212);
      transition: 0.4s;

      #delete_icon {
        font-size: 1.3rem;
      }
    }
    button:hover {
      transform: scale(107%);
      background: rgb(224, 222, 222);
    }
  }
  .details_of_teacher_card_div {
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .details_of_teacher_card1 {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgb(221, 219, 219);

      .teacher_img_and_name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .teacher_img {
          width: 26%;

          img {
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            height: 10rem;
          }
        }
        .teacher_name {
          width: 70%;
          padding: 0.3rem;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          h1 {
            font-size: 1.3rem;
            font-weight: 500;
          }

          #website_icons {
            display: flex;
            justify-content: space-evenly;
            // border: 1px solid red;
            align-items: center;

            .icons {
              font-size: 1.2rem;
              margin-top: 0.3rem;
              margin-right: 0.5rem;
              cursor: pointer;
              transition: 0.4s;
              color: rgba(0, 0, 0, 0.682);
            }
            .icons:hover {
              color: blue;
              transform: scale(1.2);
            }
          }
        }
      }
      .teacher_courses {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        border-top: 1px solid rgb(210, 208, 208);

        .teacher_courses_details {
          // border: 1px solid red;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0.5rem;
          margin-top: 1rem;

          p {
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
      }
    }
    .details_of_teacher_card2 {
      // border: 1px solid greenyellow;
      width: 38.5%;
      height: 19.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgb(221, 219, 219);

      .details_of_teacher_card2_address1 {
        width: 100%;
        // border: 1px solid red;

        display: flex;
        align-items: center;

        h1 {
          font-size: 1.4rem;
          font-weight: 500;
        }
        #Mdedit_icon {
          font-size: 1.2rem;
          margin-left: 0.5rem;
        }
      }
      .details_of_teacher_card2_address2,
      .details_of_teacher_card2_address3,
      .details_of_teacher_card2_address4 {
        width: 100%;
        // border: 1px solid red;
        margin-top: 0.4rem;

        h1 {
          font-size: 1.3rem;
          font-weight: 400;
        }

        p {
          width: 70%;
          // font-size: 1.1rem;
          color: rgba(0, 0, 0, 0.679);
        }
      }
    }
  }
}
