.Business_nav_container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: +1;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.142);

  // ..........unpadh logo div................
  .Business_col1 {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  // .............nav content............
  .Business_col2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    .Business_content1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;

      .Business_content_link {
        position: relative;
        overflow: hidden;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .Business_nav_link {
          text-decoration: none;
          color: black;
          font-size: 1.1rem;
          font-weight: 400;
        }
        .uil {
          font-size: 1.6rem;
          margin-top: 0.1rem;
        }
      }

      // .........Border bottom hover line...........

      .Business_content_link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.2rem;
        border-radius: 5px;
        background-image: linear-gradient(
          to right,
          rgb(3, 251, 185),
          rgb(28, 145, 255)
        );
        transition: 0.4s;
      }
      @keyframes border {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
      .Business_content_link:hover::after {
        animation: border 0.4s ease-in-out forwards;
      }
    }
  }

  //...........Login and sinup button............
  .Business_col3 {
    width: 15%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #Business_login_btn {
      border: none;
      outline: none;
      width: 40%;
      height: 2.1rem;
      border-radius: 15px;
      display: flex;
      border: 1px solid rgba(0, 0, 0, 0.298);
      justify-content: center;
      align-items: center;
      background: transparent;
      transition: 0.4s;
      cursor: pointer;

      .Business_login_signup_link {
        text-decoration: none;
        color: black;
        font-weight: 500;
      }
    }

    #Business_login_btn:hover {
      background: cyan;
      border: 1px solid black;
    }
    #Business_signup_btn {
      @extend #Business_login_btn;
      width: 50%;
      background: rgb(4, 235, 235);
      transition: 0.3s;
      cursor: pointer;
    }

    #Business_signup_btn:hover {
      background: rgb(8, 135, 135);

      .Business_login_signup_link {
        color: white;
      }
    }
  }
}
