.container_main {
  width: 130%;
  /* border: 2px solid blue; */
}

.course {
  padding-inline-start: 35px;
}
.course h2 {
  font-weight: 800;
  font-size: 2.8rem;
  margin-top: 0;
  line-height: 1;
  box-sizing: border-box;
  font-weight: bold;
}
.course h5 {
  margin-top: 0;
  line-height: 1;
  color: gray;
  /* display: block; */
  font-size: 1.4rem;
  margin-block-start: 1.1rem;
}

.Add-course {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-right: 80px; */
}
.course-button {
  display: flex;
  gap: 10px;
  /* border: 2px solid rgb(255, 0, 247); */
}
.course-button button {
  padding: 10px;
}
.course-button .discard {
  border: 2px solid rgba(235, 232, 235, 0.416);
  width: 130px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1;
  border-radius: 8px;
}
.discard:hover {
  background-color: #8a94ad;
}
.save {
  border: 2px solid rgba(235, 232, 235, 0.416);
  width: 130px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1;
  color: blue;
  border-radius: 8px;
}

.save:hover {
  background-color: #8a94ad;
}
.Publish {
  width: 180px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #000000;
  background: rgb(6, 6, 238);
  border-radius: 8px;
}
.Publish:hover {
  background-color: #034aff;
  color: #ffffff;
}
