.global-main h2 {
  /* width: 30%; */
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.del-main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* align-content: space-between; */
  gap: 15px;
  margin-left: 15px;
}
.del-main .delivery input {
  width: 20px;
  height: 20px;
  accent-color: blue;
}
.del-main .delivery label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 6px;
}
.del-main .delivery p {
  margin-left: 20px;
  margin-top: 10px;
  color: gray;
}
.del-main .delivery p span {
  color: blue;
}
.del-main .delivery p span:hover {
  text-decoration: underline;
}
.global-main {
  margin-bottom: 40px;
}
