.background-main {
  background-color: #f5f7fa;
}
.mycls {
  width: 130%;
  /* border:1px solid rgb(10, 208, 53); */
  display: flex;
  justify-content: space-between;
}
.org-main {
  /* background-color: #fff; */
  display: flex;
}
