.ship-main h2 {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}
.box-flex {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  align-content: space-around;
  gap: 40px;
  margin-left: 15px;
}

.box-flex .full input {
  width: 20px;
  height: 20px;
  accent-color: grey;
  /* margin-left: 10px; */
}
.box-flex .full label {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 6px;
  /* border: 1px solid red; */
}
.box-flex .full p {
  margin-left: 25px;
  color: grey;
  margin-top: 20px;
}
.see {
  margin-left: 30px;
  margin-top: 45px;
  margin-bottom: 20px;
}
.see span {
  color: blue;
}
.see span:hover {
  text-decoration: underline;
}
.ship-main {
  margin-bottom: 10px;
}
